body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.cityInput{
    display:flex;
    align-content:center;
    flex-direction: column;
}
#citySelect {
    display:none;
}

#cityError {
   display:none;
}
.wrapper{
    display:flex;
}
.oneDayWeather{
padding:10px;
}
.fiveDayWeather{
padding:10px;
margin-left: 15px;
}

ul {
    list-style-type: none;
}
li{
    display: flex;
}
.date{
    width:90px;
    padding:3px;
    margin-right: 40px;
}
.temperatureDate{
    width: 200px;
    padding:3px;
    margin-bottom:20px;
}
.description{
    margin-left:auto;
}