<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSE Weather</title>
    <link rel="stylesheet" href="static/weather.css">
    <!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class='wrapper'>
    <div class='weather-container'>
        <h1>Прогноз погоды в г. {{city}}</h1>
        <div class="current-weather">
            <h2>{{description}}</h2>
            <div class="weather-details">
                <table>
                    <tr>
                        <td>Температура</td>
                        <td>{{temp_now}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Ощущается как</td>
                        <td>{{temp_feels_like}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Макс. температура</td>
                        <td>{{temp_max}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Мин. температура</td>
                        <td>{{temp_min}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Восход солнца</td>
                        <td>{{sunrise_time}} GTM+3</td>
                    </tr>
                    <tr>
                        <td>Заход солнца</td>
                        <td>{{sunset_time}} GTM+3</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
               <div class="divider"></div>
  <div class='weather-container'>
    <div class="fiveDayWeather">
    <h2>Прогноз погоды на 5 дней</h2>
    <table class="forecast-table">
        {% for i in five_day_weather %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ five_day_weather[i]['MaxTemp'] }} / {{ five_day_weather[i]['MinTemp'] }}°C   </td>
            <td>{{ five_day_weather[i]['description'] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    </div>
    </div>

</div>
   <div class="divider"></div>

        <div class="city-search">
            <h2>Введите название своего города:</h2>
            <div class="search-box">
                <input type="text" placeholder="Название города">
                <button>Найти город</button>
            </div>
        </div>
<footer>
    <p>&copy; 2025 HSE Weather. Все права защищены.</p>
</footer>
<script>
        const citySelect = document.getElementById('citySelect');
        document.getElementById('findCity').addEventListener('submit', function(event) {
           event.preventDefault();
           document.getElementById('citySelect').options.length = 0;
           var cityName = document.getElementById("cityName").value
           console.log(cityName);
           $.ajax({
                    url: '/find_city',
                    type: 'POST',
                    contentType: 'application/json',
                    data:{'name':cityName},
                    success: function(response) {
                       if (response === "Введите название города"){
                            console.log(response);
                           const cityError = document.getElementById('cityError');
                           cityError.style.display = 'block';
                       }
                       else{
                           console.log(response);
                           citySelect.style.display = 'block';
                           cityError.style.display = 'none';
                           var jsonLen = Object.keys(response).length;
                           console.log(jsonLen);
                           for(let i = 0; i < jsonLen; i++){
                               var newOption = new Option(Object.keys(response)[i], `http://127.0.0.1:5000/?cityName=${response[Object.keys(response)[i]]['cityName']}&countryCode=${response[Object.keys(response)[i]]['countryCode']}`);
                               citySelect.options.add(newOption);
                           }
                           }
                    }
            });
       });
        var select = document.getElementById("citySelect");
        select.addEventListener("change",function(){
            document.location.href = select.value;
        });

    </script>
</body>
</html>
