<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?xml version="1.0" encoding="utf-8"?>
    <title>HSE Weather</title>
    <link rel="stylesheet" href="static/weather.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<p><b>Введите название города:</b><br>
<form id="findCity" type="submit">
    <input id="cityName" type="text" size="40">
    <button id="findCityButton" type='submit'>Найти город</button>
    <select class="citySelect" id="citySelect" name="select" size="4" type='submit'>Выберите город из списка</select>
    <p id="cityError">Введите название города!</p>
</form>

<form action="" id="getCityData" method = "POST">
    <button name = "getCityData" value = "{{city}}" type='submit'>Получить информацию по городу {{city}}
    </button>
</form>

<div class="divider"></div>
<div class='wrapper'>
    <div class='weather-container'>
        <h1>Погода в г. {{city}}</h1>
        <h2 class="currentDateDescription">{{description}}</h2>
        <div class="current-weather">
            <div class="weather-details">
                <table>
                    <tr>
                        <td>Температура</td>
                        <td>{{temp_now}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Ощущается как</td>
                        <td>{{temp_feels_like}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Макс. температура</td>
                        <td>{{temp_max}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Мин. температура</td>
                        <td>{{temp_min}}&#176;С</td>
                    </tr>
                    <tr>
                        <td>Скорость ветра</td>
                        <td>{{windspeed}} м/с</td>
                    </tr>
                    <tr>
                        <td>Давление</td>
                        <td>{{pressure / 10}} кПа</td>
                    </tr>
                    <tr>
                        <td>Влажность</td>
                        <td>{{humidity}}%</td>
                    </tr>
                    <tr>
                        <td>Восход солнца</td>
                        <td>{{sunrise_time}} GTM+3</td>
                    </tr>
                    <tr>
                        <td>Заход солнца</td>
                        <td>{{sunset_time}} GTM+3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class='weather-container'>
        <div class="fiveDayWeather">
            <h2>Прогноз погоды на 5 дней</h2>
            <table class="forecast-table" id="table">
                {% for i in five_day_weather %}
                <tr class="five-day-table" id="{{ i }}" onclick="ChangeWeatherDisplay('{{ i }}')">
                    <td>{{ i }}</td>
                    <td>{{ five_day_weather[i]['MaxTemp'] }} / {{ five_day_weather[i]['MinTemp'] }}°C</td>
                    <td>{{ five_day_weather[i]['description'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <div id="all-days-data" class="all-days-data" style="display:none;">
                <div id="all-dates-div" class="all-dates-div">
                    <ul class="all-dates">
                        {% for i in five_day_weather %}
                        <li class="clicableLi" id="{{i}}li" onclick="ChangeWeatherDisplay('{{i}}')">{{i}}</li>
                        {% endfor %}
                        <li class="clicableLi" onclick="ChangeWeatherDisplay('hide')">
                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" fill="white"/>
                                <path d="M7 14.5L12 9.5L17 14.5" stroke="#000000" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </li>
                    </ul>
                </div>
                <div class="expend-weather-data">
                    <div class="main-data">
                        <span class="description-data" id="description-data">Прохладно</span>
                        <span class="temperature-info" id="temperature-info">Максимальная температура - . Минимальная температура - .</span>
                    </div>
                    <div class="list-data-div">
                        <ul class="list-data">
                            <li id="li-feels-like"><b>Ощущается как:</b></li>
                            <li id="li-humidity">Влажность: %</li>
                            <li id="li-pressure">Давление:</li>
                            <li id="li-wind-speed">Скорость ветра: м/с</li>
                        </ul>
                    </div>
                </div>
                <div id="time-temperutures" class="time-temperutures">
                    <table id="temperature-table">
                        <tr>
                            <td class="time"></td>
                            <td class="time">Утром</td>
                            <td class="time">Днём</td>
                            <td class="time">Вечером</td>
                            <td class="time">Ночью</td>
                        </tr>
                        <tr>
                            <td style="font-size:10px;color:#666666;padding-right:10px;"><b>Температура</b></td>
                            <td class="time-based-temperature" id="MorningTemp"></td>
                            <td class="time-based-temperature" id="DayTemp"></td>
                            <td class="time-based-temperature" id="EveningTemp"></td>
                            <td class="time-based-temperature" id="NightTemp"></td>
                        </tr>
                        <tr>
                            <td style="font-size:10px;color:#666666;padding-right:10px;"><b>Ощущается как</b></td>
                            <td class="time-based-temperature" id="MorningFeelsTemp"></td>
                            <td class="time-based-temperature" id="DayFeelsTemp"></td>
                            <td class="time-based-temperature" id="EveningFeelsTemp"></td>
                            <td class="time-based-temperature" id="NightFeelsTemp"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="weather-container">
        <div class="diagram">
            <section id="diag">
                <h2>График температуры на 24 часа (°С)</h2>
                <canvas id="chart"></canvas>
            </section>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="weather-analyze">
    <div id="svg-container" width="120px" heigth="105px"></div>
    <div class="desc">
        <p class="indexes" id="weather_score">Индекс качества погодных условий: <b>{{weather_score}}</b>
        <p class="indexes" id="weather_score_description"></p>
    </div>
    <!--    <p class="indexes" id="temp_score">Индекс температуры: {{temp_score}}</p>-->
    <!--    <p class="indexes" id="humidity_score">Индекс влажности: {{humidity_score}}</p>-->
    <!--    <p class="indexes" id="wind_score">Индекс скорости ветра: {{wind_score}}</p>-->
    <!--    <p class="indexes" id="pressure_score">Индекс давления: {{pressure_score}}</p>-->
</div>
<footer>
    <p>&copy; 2025 HSE Weather. Все права защищены.</p>
</footer>
<script>
    function changeSVG(){
        var weather_score = Math.round({{weather_score}});
        fetch(`/static/assets/svg/Section ${weather_score}.svg`)
        .then(response => response.text())
        .then(svg => {
        document.getElementById('svg-container').innerHTML = svg;
        });
        const dict = new Map([[1,"Очень плохая погода"], [2,"Очень плохая погода"], [3,"Плохая погода"], [4,"Плохая погода"],
        [5,"Удовлетноврительная погода"], [6,"Удовлетноврительная погода"], [7,"Хорошая погода"], [8,"Хорошая погода"],
        [9,"Идеальная погода"], [10,"Идеальная погода"]]);

        document.getElementById('weather_score_description').textContent = dict.get(weather_score);
    }

    changeSVG();
    const citySelect = document.getElementById('citySelect');
    document.getElementById('findCity').addEventListener('submit', function(event) {
       event.preventDefault();
       document.getElementById('citySelect').options.length = 0;
       var cityName = document.getElementById("cityName").value
       console.log(cityName);
       $.ajax({
                url: '/find_city',
                type: 'POST',
                contentType: 'application/json',
                data:{'name':cityName},
                success: function(response) {
                   if (response === "Введите название города"){
                       console.log(response);
                       const cityError = document.getElementById('cityError');
                       cityError.style.display = 'block';
                   }
                   else{
                       console.log(response);
                       citySelect.style.display = 'block';
                       cityError.style.display = 'none';
                       var jsonLen = Object.keys(response).length;
                       console.log(jsonLen);
                       for(let i = 0; i < jsonLen; i++){
                           var newOption = new Option(Object.keys(response)[i], `http://127.0.0.1:5000/?cityName=${response[Object.keys(response)[i]]['cityName']}&countryCode=${response[Object.keys(response)[i]]['countryCode']}`);
                           citySelect.options.add(newOption);
                       }
                   }
                }
        });
   });


    var select = document.getElementById("citySelect");
    select.addEventListener("change",function(){
        document.location.href = select.value;
    });

    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
        type:'line',
        title:'Прогноз погоды на 24 часа',
        data:{
            labels: {{ labels | tojson}},
            datasets:[{
                data: {{ temp_data | tojson}},
                fill:true,
                borderColor: 'rgb(0,80,207)',
                tension: 0.3
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });

    var prev_date = "";
    function ChangeWeatherDisplay(date){
        console.log(date);
        console.log(document.getElementById("all-days-data").style);
        if(document.getElementById("all-days-data").style.display == 'none' && date != 'hide'){
            document.getElementById("all-days-data").style.display = 'block';
            document.getElementById("table").style.display = 'none';
        }
        if (date == 'hide'){
            document.getElementById("all-days-data").style.display = 'none';
            document.getElementById("table").style.display = 'block';
            document.getElementById(`${prev_date}li`).textContent = prev_date;
            prev_date = "";
            return 0;
        }

        if(prev_date==""){
            prev_date = date;
        }
        else if(prev_date != ""){
            document.getElementById(`${prev_date}li`).textContent = prev_date;
            prev_date = date;
        }
        document.getElementById(`${date}li`).innerHTML = date.bold();
        const dataJson = {{five_day_weather | tojson}};
        console.log(dataJson[date]['description']);
        const desc = dataJson[date]['description'].charAt(0).toUpperCase() + dataJson[date]['description'].slice(1);
        document.getElementById("description-data").textContent  = desc;

        document.getElementById("temperature-info").textContent = `Максимальная температура - ${dataJson[date]['MaxTemp']}°C. Минимальная температура - ${dataJson[date]['MinTemp']}°C.`
        document.getElementById("li-feels-like").textContent = `Ощущается как ${dataJson[date]['AvgFeelsLike']}°C`
        document.getElementById("li-humidity").textContent = `Влажность ${dataJson[date]['AvgHumidity']}%`
        document.getElementById("li-pressure").textContent = `Давление ${Math.round(dataJson[date]['AvgPressure']/10, -1)} кПа`
        document.getElementById("li-wind-speed").textContent = `Скорость ветра: ${dataJson[date]['WindSpeed']} м/с`

        document.getElementById("MorningTemp").textContent = `${dataJson[date]['MorningTemp']}°C`
        document.getElementById("DayTemp").textContent = `${dataJson[date]['DayTemp']}°C`
        if(dataJson[date]['EveningTemp'] == 0){
            document.getElementById("EveningTemp").textContent = "Нет данных";
        }
        else{
            document.getElementById("EveningTemp").textContent = `${dataJson[date]['EveningTemp']}°C`
        }
        document.getElementById("NightTemp").textContent = `${dataJson[date]['NightTemp']}°C`

        document.getElementById("MorningFeelsTemp").textContent = `${dataJson[date]['MorningFeelsTemp']}°C`
        document.getElementById("DayFeelsTemp").textContent = `${dataJson[date]['DayFeelsTemp']}°C`
        if(dataJson[date]['EveningFeelsTemp'] == 0){
            document.getElementById("EveningFeelsTemp").textContent = "Нет данных";
        }
        else{
            document.getElementById("EveningFeelsTemp").textContent = `${dataJson[date]['EveningFeelsTemp']}°C`
        }
        document.getElementById("NightFeelsTemp").textContent = `${dataJson[date]['NightFeelsTemp']}°C`
    }
</script>
</body>
</html>